body {
    padding-bottom: 40px;
}

#printerList{
    display: none;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 30px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.btn-large{
    margin-bottom: 20px;
}
.emph{
    color: #B92C2C;
    margin: 0; padding: 0;
}
.gmnoprint{
    display: none;
}

th{
    border-bottom: 3px solid #DDDDDD;
}

#closeListBox {
    position: fixed;
    right:30px;
    bottom: 10px;
}
#cmuMap{
    height: 375px;
    width: 100%;
}

@media (max-width: 767px) { 
    #cmuMap{
        height:300px;
    }
    .jumbotron h1{
        font-size:36px;
    }
    p.lead{
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 18px;
    }
    .jumbotron{
        margin: 10px 0;
    }
    .jumbotron .btn {
        font-size: 16px;
        padding: 5px 10px;
    }
    .marketing{
        margin: 30px 0;
    }
    .toolbar{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 5px;
        background: #EEEEEE;
        
    }
    body{
        margin-bottom: 10px;
    }

}
